html,
body,
#root,
.App {
  display: flex;
  height: 100%;
  background-color: #21222b;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'),
    url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
}

span,
a,
div,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: Roboto-Regular;
  color: white;
  margin: 0;
}
